#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    chosen {
        ncs,zigbee-timer = &timer2;
    };

    /* Button 1: XIAO D1 / nRF52840 P0.03, active low to GND. */

    buttons {
        compatible = "gpio-keys";

        button0: button_0 {
            gpios = <&gpio0 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Button 1";
        };
    };

    aliases {
        sw0 = &button0;
    };

    zephyr,user {
        io-channels = <&adc 7>;
    };

};

&adc {
    #address-cells = <1>;
    #size-cells = <0>;

    channel@7 {
        reg = <7>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_AIN7>;
        zephyr,resolution = <12>;
        zephyr,oversampling = <4>;
    };
};

&timer2 {
    status = "okay";
};
